In [1]:
import pandas as pd

# Gantikan backslash (\) dengan dua backslash (\\) atau gunakan huruf 'r' untuk raw string
file_path = r"C:\Users\HAKIMHAMRI\Documents\UMK KAMPUS KOTA\TAHUN 2 SEM 4\AI 2\Project 1\LSTM-Project\FBMKLCI.csv"

# Membaca fail CSV
df = pd.read_csv(file_path)

# Paparkan 5 baris pertama
df.head()

         time       open       high        low      close  MA  Volume
0  1982-01-01  378.76001  387.06000  220.74001  291.44000 NaN     NaN
1  1983-01-03  288.60999  421.29999  284.76999  401.60001 NaN     NaN
2  1984-01-02  408.95001  426.79001  289.32001  303.54999 NaN     NaN
3  1985-01-01  298.70999  320.47000  217.63000  233.47000 NaN     NaN
4  1986-01-01  219.75000  272.03000  169.83000  252.42999 NaN     NaN